/rails-4/rails-chats-api/.bundle
/rails-4/rails-chats-api/tmp/*
/rails-4/rails-chats-api/.byebug_history
/rails-5/rails-chats-api/.bundle
/rails-5/rails-chats-api/tmp/*
/rails-5/rails-chats-api/.byebug_history
